.container {
    width: 1366px;
    height: 768px;
    background-image: url('../images/background.png');
    color: #fff;
}

.container span {
    display: inline-block;
}

header {
    width: 1022px;
    height: 45px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 35px;
}


main {
    margin: 0 auto;
    width: 1022px;
    height: fit-content;
}

.general-text, .sub-text {
    font-size: 29px;
    text-transform: uppercase;
    font-family: AdobeInvisFont, Verdana-Bold, Courier;
    letter-spacing: 2px;
}

.sub-text {
    font-size: 18px;
}


.left-logo {
    float: left;
}

.img-logo {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url('../images/logo.png');
}

.left-logo:hover .img-logo {
    background-image: url('../images/logo-hover.png');
}

.left-logo:hover a {
    color: #F26522;
}

.logo-text {
    display: inline-block;
}

.logo-text a {
    display: block;
    color: #dbdbdb;
    text-decoration: none;
}


.contacts {
    float: right;
}

.contacts span {
    display: block;
}

.phone {
    float: right;
}

.cards {
    float: left;
    width: 307px;
    height: 200px;
    margin: 0 0 74px 0;
}

.cards-img {
    width: inherit;
    height: 200px;
    display: block;
    background-image: url('../images/shopping.png');
}

.img_sightseeing {
    background-image: url("../images/sightseeing.png");
}

.img_food {
    background-image: url("../images/food.png");

}

.img_nightlife {
    background-image: url("../images/bars.png");
}

.img_walking {
    background-image: url("../images/walking.png");
}


.title {
    margin-top: 20px;
    text-align: center;
    font-family: AdobeInvisFont,Courier,Verdana;
    font-size: 16px;
}
.cards:hover .title{
    color:#F26522;
}



/*.cards:nth-child(2){*/
/*    */
/*}*/

.card-img-shop {

}

.cards:not(:nth-child(3n+3)) {
    margin-right: 50px;
}

.hover-block {
    display: none;
    width: inherit;
    height: 63px;
    background-color: #F26522;
    margin-top: -63px;

}
.from_cost{
    float: left;

}

.cards:hover .hover-block {
    display: block;
}
