span {
     color:blue;
}

.class-selector {
    color:red;
}
*{

    border:solid 1px #373737;
}

div span {
    font-siaze:29px;
}


/*Div posle diva*/
div~div {

    background: #ff4561;
}


/*Dlya vseh krome pervogo*/
/*div ~ div {*/
/*    box-shadow: inset 0 0 3px yellow;*/
/*}*/


/*Dly div s classom*/
div.class-selector {

}


/*dlya dochernich*/
div .class-selector {

}


/*selector s atributom*/

div[class='test']{
    color:green;
}

input [class='text']
{
    background-color: #16A085;
}

