.modal {
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0);
}

.backdrop {

    position: fixed;
    height: 100%;
    weight:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    display:none;

}

.modal:target{
    display: block;
}

.close {
    position:absolute;

}