div {
    height: 50px;
    border: 1px solid black;
    background: #fff;
}

.paret {
    position: sticky;
    top:0;
    background-color: #eee;

}
.subparent {
    position: sticky;
    top:50px;
    background-color: #cccccc;

}