
@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Gotham-Rounded-Bold';
    src: url('./fonts/Gotham-Rounded-Bold.ttf');
}

.header {
    height: 61px;
    text-align: center;
    margin-top: 24px;
    opacity: 0.8;

}
.header_link a{

    font-family:Roboto-Black,sens-serif;
    letter-spacing:2px;
    font-size: 18px;
    color: #16A085;
    opacity: 0.9;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;

}


.cover_img{
    width: 100%;
}

.article_bkg {
    background-color: #F5F6F7;
    opacity: 0.9;
}

.title {
    font-family:Roboto-Black;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 1;
    color: #373737;
    padding-top: 44px;
    text-align: center;
    margin-bottom: 26px;
    margin-top: 0px;
}

.article {
    font-family:Roboto-Black;
    letter-spacing: 2px;
    color:#373737;
    font-size: 16px;
    opacity: 0.9;
    margin-left:85px;
    margin-right: 81px;
    padding-bottom: 61px;
    text-align: center;

}


form {
    text-align: center;
    margin-top: 42px;
    letter-spacing:2px;

}

.push_button {
    font-family: Gotham_Rounded_Bold;
    letter-spacing:1.6px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    height: 52px;
    width: 193px;
    background-color:#16A085 ;


}


.bottom_content p{
    font-family: Roboto-Black;
    font-weight: 700;
    opacity: 0.7;
    letter-spacing:2px;
    font-size: 16px;
    color:#373737;
    background-color: #ffffff;
    height: 65px;
    padding-top: 35px;
    padding-right: 98px;
    margin: 0px;
    text-align: right;
}