body {
    font-family: Arial, sens-serif;

}
.menu-link {
    color: grey;
    text-decoration: none;
    margin:0 10px;

}
.menu-link:hover{
    color:blue;
}

.active{
    color:blue;
    border-bottom: 2px solid blue;
    padding: 5px;
}