@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../../../HomeWork/HW02/fonts/MyriadPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.content {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;

}

header {
    border:1px solid black;
    height: 189px;
    margin-top: 46px;
}


main {
    margin-left: auto;
    margin-right: auto;
}


.left-side-bar {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width:49%;
    border:1px solid black;
    height:400px;
}

.right-side-bar {
    display:inline-block;
    box-sizing: border-box;
    width: 50%;

    border:1px solid black;
    height:529px;

}