.container {
    padding: 10px;
    background: grey;
    border: 1px solid black;
    width: 400px;
    height: 120px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;

    /*flex-direction: column-reverse;*/

}

.child {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: indianred;

}


