body {
    background: grey;

}


.list {
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background: white;
    width: 300px;
    justify-content: center;




}

.list-item {
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 5px 0;
    display: flex;


}

.list-item_img {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    flex-shrink: 0;

    border-radius: 50%;
    overflow: hidden;

}

.list-item_content {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-self: center;
    flex-grow:1;
    margin-left:10px;

}

div img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}


.item {
    font-weight: bold;

}
.address {
    color: black;
    opacity: 0.7;
}