.with-tooltip {
    position: relative;
}

.with-tooltip ::after{

    content: attr(data-tooltip);
    position: absolute;
    top:0;

    border: 1px solid black;
    left:calc(100% + 10px);

    border-radius: 5px;
    background:black;
    color:white;
    padding: 2px 4px;




}



.with-tooltip::before {
    content: '';
    position: absolute;
    left:calc(100% + 10px);
    top:5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px;
    border-left: 0;
    border-color: transparent;



}
