.square {
    width: 100px;
    height: 100px;
    background: red;
    margin: 50px;
    /*transition-property: background;*/
    /*transition-duration: 200ms;*/
    /*transition-timing-function: linear;*/

    /*transition: width 200ms linear ;*/
    /*transition-property: background,width,height;*/
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /*animation-delay: ;*/
    /*animation-direction: ;*/
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        background: blue;
    }

}

/*.square:hover {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    margin: 25px;*/
/*    background:blue;*/
/*}*/