person{
    display:inline-block;
    width:calc(100%/6 - 4px);

}


person>span {
    background: #333333;
    color:#fff;
    padding:14px;
    display: inline-block;

}

span span {
    color:orange;
    padding-left: 0;
}

