input {
    display: none;
}
label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: grey 1px solid;
    user-select: none;

}
.tick1 {
    display: inline-block;
    height: 0px;
    width: 0px;
    background: blue;
    transform :translate(11px, 2px) rotate(27deg);
}
.tick2 {
    display: inline-block;
    height:0px;
    width:0px;
    background: blue;
    transform :translate(-2px, -1px) rotate(47deg);

}
input:checked + .tick1{
    height: 14px;
    width: 1px;
    background: #6f6f6f;

}

input:checked ~ .tick2{
    background: #6f6f6f;
    height: 1px;
    width: 7px;

}