

.picture {
    display: inline-block;
    width: 50%;
}


img {
    width: 270px;

}


.main_inform {

    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: justify;
    margin-top: 0px;
}


hr {
    width: 40px;
    background-color: orange;
    border: none;
    height: 2px;

}

button {
    background-color:orange;
    height: 40px;
    width: 150px;
    color: white;
}