div {
    text-align: center;
    font-family: Arial,sans-serif;
}
h2 {
    text-transform: uppercase;
    font-size: 22px;
    color: #333333;
}
p {
    color: #333333;
    font-size: 17px;
}

hr {
    width:60px ;
    background-color: orange;
    height: 3px;
    /*border: transparent;*/
    border-width: 0px;

}

form {
    font-size: 0;
}

input{
    padding: 14px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    border-right-width: 0px;

}
button{
    padding :14px;
    color: white;
    background: orange;
    border: 1px solid grey;
    border-left-width: 0px;

}
