*{
    margin: 1px;
    padding:0;
}

.clearfix{
    clear:both;
}

.right-side{
    background: #fffddd;
    border:2px solid black;
    float: left;
    width:50%;
    height: 780px;
}

.left-side {
    background: #cccccc;
    border:2px solid black;
   float:right;
    width:38%;
    height: 100px;
}
h2 {
    margin-top:25px;
    margin-left:10px;
    padding-left: 19px;
    width:280px;
    height: 40px;
    background: black;
    color:white;
    text-align: left;
}
 p{
     margin-top:15px;
     margin-bottom: 15px;
     margin-left: 10px;
 }
 input {
     display: inline-block;
     width: 48%;



 }
 .input-name{
     float: left;
     height: 30px;
 }

 .input-email{
     float:right;
     height: 30px;


 }


 .entered-text{
     clear: both;
     margin-top: 17px;
     width: 99%;
 }
/*input .input-email{*/
/*    display:inline-block;*/
/*    clear:right;*/
/*}*/

